name: automerge
on:
  # trigger when checks complete (for another workflow to trigger this, it needs to do a checkout@v2 with a personal access token)
  status:
  # trigger when checks already passed and a required review is submitted
  pull_request_review:
    types: [submitted]
  # trigger when draft PR is converted to PR, or labels change, or base branch is updated (synchronize)
  pull_request:
    types: [ready_for_review, labeled, unlabeled, synchronize]

jobs:
  automerge:
    runs-on: ubuntu-latest
    steps:
      - name: automerge
        uses: pascalgn/automerge-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # provided by Workflow runner
          MERGE_FILTER_AUTHOR: ddelange
          MERGE_METHOD: squash
          MERGE_RETRIES: 0
          MERGE_LABELS: '!WIP,!do not merge'  # merge the PR when branch protection allows it (checks, reviews, draft, ...)
          UPDATE_LABELS: ''  # update with base branch when base has "Require branches to be up to date before merging"
          MERGE_DELETE_BRANCH: true
          UPDATE_RETRIES: 0
