name: brew test-bot
on:
  push:
    branches: [$default-branch]
  pull_request:
jobs:
  cancel_previous_runs:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: n1hility/cancel-previous-runs@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
  test-bot:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - name: Set up Homebrew
        id: setup
        uses: Homebrew/actions/setup-homebrew@master
      - name: Cache gems
        uses: actions/cache@v2
        with:
          path: ${{steps.setup.outputs.gems-path}}
          key: ${{runner.os}}-rubygems-${{steps.setup.outputs.gems-hash}}
          restore-keys: ${{runner.os}}-rubygems-
      # https://github.com/Homebrew/homebrew-test-bot/issues/498
      # - name: Check formulae
      #   run: brew test-bot
      - uses: actions/checkout@v2
      - name: Install formulae
        env:
          HOMEBREW_NO_INSTALL_CLEANUP: 1
          HOMEBREW_NO_AUTO_UPDATE: 1
        run: |
          rm /usr/local/bin/2to3 || true  # rm MacOS default link
          ( brew upgrade python || brew install python ) || ( brew unlink python && brew link python ) 
          brew install ./Formula/*.rb
